{% load static %}
<!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: lightskyblue">
  <div class="container">
    <!-- ссылка должна вести на главную страницу -->
    <a class="navbar-brand" href="{% url "posts:index" %}">
      <img src="{% static "./img/logo.png" %}"
           width="30"
           height="30"
           class="d-inline-block align-top"
           alt="">
      <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
      <span style="color:red">Ya</span>tube
    </a>
    <!-- Кнопка для мобильных -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% comment %}
    Меню - список пунктов со стандартными классами Bootsrap.
    Класс nav-pills нужен для выделения активных пунктов 
    {% endcomment %}
    <!-- Скрываемое меню -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto nav-pills">
        {% comment %}
        Внутри тега {% with %} переменная view_name -
        это синоним для request.resolver_match.view_name
        {% endcomment %}
        {% with request.resolver_match.view_name as view_name %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == "about:author" %}active{% endif %}"
               href="{% url "about:author" %}">Об авторе</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == "about:tech" %}active{% endif %}"
               href="{% url "about:tech" %}">Технологии</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == ":" %}active{% endif %}"
                 href="<!--  -->">Новая запись</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == "users:password_change" %}active{% endif %} text-light"
                 href="{% url "users:password_change" %}">Изменить пароль</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == "users:logout" %}active{% endif %} text-light"
                 href="{% url "users:logout" %}">Выйти</a>
            </li>
            <li>Пользователь: {{ user.username }}</li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link {% if view_name == "users:login" %}active{% endif %} text-light"
                 href="{% url "users:login" %}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == "users:signup" %}active{% endif %} text-light"
                 href="{% url "users:signup" %}">Регистрация</a>
            </li>
          {% endif %}
        {% endwith %}
      </ul>
    </div>
  </div>
</nav>
