[Unit]
# это текстовое описание юнита, пояснение для разработчика
Description=gunicorn daemon

# при старте операционной системы запускать процесс только после того,
# как операционная система загрузится и настроит подключение к сети
After=network.target

[Service]
# от чьего имени запускать процесс:
# укажите имя, под которым вы подключались к серверу
User=user

# адрес к директории, где установлен Gunicorn
WorkingDirectory=/home/user/yatube_project/yatube/

# команду, которую вы запускали руками, теперь будет запускать systemd:
# в указанной директории будет выполнена команда bind
# и по запросу к 127.0.0.1:8000 будет выполнен файл запуска приложения yatube.wsgi
ExecStart=/home/user/yatube_project/.venv/bin/gunicorn --bind 127.0.0.1:8000 yatube.wsgi:application

[Install]
# группировка юнитов
WantedBy=multi-user.target
