DEBUG=True

SECRET_KEY=django-insecure-%k0w&%)wy^3jn7l(94w7gfld4e!&he=s=+42-l-g2l$^$u(a^3

ALLOWED_HOSTS=localhost,127.0.0.1,[::1],testserver,www.whymello.pythonanywhere.com,whymello.pythonanywhere.com
