{% extends "users/base_users.html" %}
{% block title %}
  Новый пароль
{% endblock title %}
{% block card-header %}
  {% if validlink %}
    Введите новый пароль
  {% else %}
    <!-- если использована неправильная ссылка -->
    Ошибка
  {% endif %}
{% endblock card-header %}
{% block card-body %}
  {% if validlink %}
    {% include "users/includes/form_errors.html" %}
    <form method="post"
          {% if action_url %} action="{% url action_url %}" {% endif %}>
      {% include "users/includes/field_in_form.html" %}
      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">Назначить новый пароль</button>
      </div>
    </form>
  {% else %}
    <!-- если использована неправильная ссылка -->
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endif %}
{% endblock card-body %}
