{% extends "base_form.html" %}
{% block title %}
  Зарегистрироваться
{% endblock title %}
{% block card-header %}
  Зарегистрироваться
{% endblock card-header %}
{% block card-body %}
  {% include "includes/form_errors.html" %}
  <form method="post"
        {% if action_url %} action="{% url action_url %}" {% endif %}>
    {% include "includes/field_in_form.html" %}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </div>
  </form>
{% endblock card-body %}
